@import url("https://fonts.googleapis.com/css2?family=Acme&family=Caprasimo&family=Caveat&family=Dancing+Script:wght@500&family=Narnoor&family=Roboto:wght@100;400&family=Shadows+Into+Light&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
	padding: none;
	margin: none;
	font-family: "Acme", sans-serif;
}

html {
	background-color: #ffeadd;
	font-family: "Dancing Script";
}
