$header-color: #fdf4f5;
$header-h1-color: #e8a0bf;
$footer-paragraph-color: #ccc;
$button-color: #ff8989;
$box-shawdow-color: rgba(0, 0, 0, 0.3);
$hover-button: #ba90c6;

form.createNote {
	position: relative;
	width: 480px;
	margin: 30px auto 20px auto;
	padding: 15px;
	border-radius: 7px;
	box-shadow: 0 1px 5px rgb(138, 137, 137);
	background: #eee;
	background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
	background-size: 200% 100%;
	animation: 1.5s shine linear infinite;

	& input,
	textarea {
		width: 100%;
		border: none;
		padding: 4px;
		outline: none;
		font-size: 1.2em;
		font-family: inherit;
		resize: none;
		background: #eee;
		background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
		background-size: 200% 100%;
		animation: 1.5s shine linear infinite;
	}
}

@keyframes shine {
	to {
		background-position-x: -200%;
	}
}
@media screen and (min-width: 320px) and (max-width: 490px) {
	form.createNote {
		width: 310px;
	}
}
