ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h2,
h3,
a {
	color: black;
}

a {
	text-decoration: none;
}
a:hover {
	cursor: pointer;
	color: #ff8989;
}
.container {
    border-bottom: solid white;
}
.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	display: flex;
	margin-top: 5px;
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	margin-right: 15px;
}

.main-nav a {
	color: #34495e;
	font-size: 0.99em;
}

.main-nav a:hover {
	color: black;
	border: solid #ff8989;
	border-radius: 100px;
	background-color: #ff8989;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 100vw;
}

.loading {
	opacity: 0;
	transition: all 0.2s ease-in;
}

.loaded {
	opacity: 1;
	transition: all 0.2s ease-in;
}
