.ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.anchor {
	text-decoration: none;
	color: black;
	& :hover {
		cursor: pointer;
		color: #ff8989;
	}
}
.container {
	border-bottom: solid white;
}
.logo {
	margin: 0;
	font-size: 1.45em;
}

.mainNav {
	display: flex;
	margin-top: 5px;
}

.logo a,
.mainNav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	margin-right: 15px;
}

.mainNav a {
	color: #34495e;
	font-size: 0.99em;
}

.mainNav a:hover {
	color: black;
	border: solid #ff8989;
	border-radius: 100px;
	background-color: #ff8989;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 100vw;
}

.loading {
	opacity: 0;
	transition: all 0.2s ease-in;
}

.loaded {
	opacity: 1;
	transition: all 0.2s ease-in;
}
