$button-color: #ff8989;

.noteContainer {
	border: white solid;
	width: 20%;
	height: max-content;
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
	padding: 10px;
	border-radius: 20px;
	margin: 40px;
}

.buttonStyle {
	color: black;
	border: solid $button-color;
	border-radius: 20px;
	background-color: $button-color;
	margin-top: 30px;
	align-self: flex-end; /* Added property */
	width: 70px;
	padding: 5px;
	padding-left: 2px;
	padding-right: 2px;

	&:hover {
		color: white;
	}
}

.heading {
	padding: 10px;
}

.content {
	padding: 5px;
}
.note {
	background: #fff;
	border-radius: 7px;
	box-shadow: 0 2px 5px #ccc;
	padding: 10px;
	width: 240px;
	height: max-content;
	margin: 16px;
	float: left;

	& h1 {
		font-size: 1.1em;
		margin-bottom: 6px;
		font-style: italic;
	}
	& p {
		font-size: 1.1em;
		margin-bottom: 10px;
		white-space: pre-wrap;
		word-wrap: break-word;
	}

	& button {
		position: relative;
		float: right;
		margin-right: 10px;
		color: black;
		border: solid $button-color;
		border-radius: 20px;
		background-color: $button-color;
		width: max-content;
		height: max-content;
		cursor: pointer;
		outline: none;
		padding: 0px 10px;
		&:hover {
			color: #fff;
		}
	}
}
