.container {
	border: #fff solid;
	align-items: center;
	width: 400px;
	height: auto;
	margin: 150px auto;
	border-radius: 30px;
	background-color: #fff;
}

.message {
	font-size: 24px;
	color: #333;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
}
.paragraph {
	text-align: center;
	color: #333;
	margin-bottom: 50px;
}
.buttonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	padding-bottom: 10px;
}

.button {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	padding: 15px 24px;
	background-color: #fcaeae;
	width: 50%;
	text-align: center;
	border: 2px solid #fcaeae;
	border-radius: 30px;
	transition: background-color 0.3s ease-in-out;
}

.button:hover {
	background-color: #fcaeae;
	border: #fcaeae solid;
	color: #fff;
}
