$header-color: #fdf4f5;
$header-h1-color: #e8a0bf;
$footer-paragraph-color: #ccc;
$button-color: #ff8989;
$box-shawdow-color: rgba(0, 0, 0, 0.3);
$hover-button: #ba90c6;

form.createNote {
	position: relative;
	width: 480px;
	margin: 30px auto 20px auto;
	background: #fff;
	padding: 15px;
	border-radius: 7px;
	box-shadow: 0 1px 5px rgb(138, 137, 137);

	& input,
	textarea {
		width: 100%;
		border: none;
		padding: 4px;
		outline: none;
		font-size: 1.2em;
		font-family: inherit;
		resize: none;
	}

	& button {
		position: absolute;
		right: 18px;
		bottom: -18px;
		background: $button-color;
		color: #fff;
		border: none;
		border-radius: 50%;
		width: 36px;
		height: 36px;
		box-shadow: 0 1px 3px $box-shawdow-color;
		cursor: pointer;
		outline: none;
	}
}
